<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="meca_500_r3_ecat_interface" params="
    prefix
    robot_ip
    state_port
    command_port
    ft_sensor_port
    bind_state_port
    bind_command_port
    bind_ft_sensor_port
    has_ft_sensor
    ft_sensor_name">

    <ros2_control name="meca_500_r3_ecat_interface" type="system">
      <hardware>
        <plugin>robot_interface/LightWeightInterface</plugin>
        <param name="ip">${robot_ip}</param>
        <param name="state_port">${state_port}</param>
        <param name="command_port">${command_port}</param>
        <param name="ft_sensor_port">${ft_sensor_port}</param>
        <param name="bind_state_port">${bind_state_port}</param>
        <param name="bind_command_port">${bind_command_port}</param>
        <param name="bind_ft_sensor_port">${bind_ft_sensor_port}</param>
      </hardware>

      <xacro:if value="${has_ft_sensor}">
        <sensor name="${ft_sensor_name}">
          <state_interface name="force.x"/>
          <state_interface name="force.y"/>
          <state_interface name="force.z"/>
          <state_interface name="torque.x"/>
          <state_interface name="torque.y"/>
          <state_interface name="torque.z"/>
        </sensor>
      </xacro:if>

      <joint name="${prefix}axis_1_joint">
        <command_interface name="velocity">
          <param name="min">-2.61799</param>
          <param name="max">2.61799</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}axis_2_joint">
        <command_interface name="velocity">
          <param name="min">-2.61799</param>
          <param name="max">2.61799</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}axis_3_joint">
        <command_interface name="velocity">
          <param name="min">-3.14159</param>
          <param name="max">3.14159</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}axis_4_joint">
        <command_interface name="velocity">
          <param name="min">-5.23599</param>
          <param name="max">5.23599</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}axis_5_joint">
        <command_interface name="velocity">
          <param name="min">-5.23599</param>
          <param name="max">5.23599</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}axis_6_joint">
        <command_interface name="velocity">
          <param name="min">-8.72665</param>
          <param name="max">8.72665</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>
