<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- robot name parameter -->
  <xacro:arg name="name" default="meca_500_r3"/>

  <!-- import main macro -->
  <xacro:include filename="$(find mecademic_description)/urdf/meca_500_r3_macro.xacro"/>

  <!-- parameters -->
  <xacro:arg name="prefix" default="meca_" />
  <xacro:arg name="robot_ip" default="192.168.0.100" />
  <xacro:arg name="control_port" default="10000" />
  <xacro:arg name="monitoring_port" default="10001" />
  <xacro:arg name="connected_to" default="" />
  <xacro:arg name="velocity_timeout" default="0.1" />
  <xacro:arg name="velocity_limit_percent" default="25.0" />
  <xacro:arg name="acceleration_limit_percent" default="100.0" />
  <!-- ros2_control related parameters -->
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />

  <!-- arm -->
  <xacro:meca_500_r3_robot
    prefix="$(arg prefix)"
    robot_ip="$(arg robot_ip)"
    control_port:="$(arg control_port)"
    monitoring_port:="$(arg monitoring_port)"
    connected_to="$(arg connected_to)"
    velocity_timeout="$(arg velocity_timeout)"
    velocity_limit_percent="$(arg velocity_limit_percent)"
    acceleration_limit_percent="$(arg acceleration_limit_percent)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>
</robot>
